PORT=3000

# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=threevibes_db
DB_PASSWORD=password
DB_PORT=5432

# Supabase Configuration
SUPABASE_URL=https://xwqoakzqgkfocbbsapda.supabase.co
SUPABASE_KEY=sb_publishable_n7tJGg2VXYB3IQVUa0eegQ_czbTbGm_
SUPABASE_BUCKET=Files

# TOKEN
JWT_SECRET=your_jwt_secret_here

# EMAIL
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password_here

# AI
GROQ_API_KEY=your_groq_api_key_here

